*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body{
    font-family: 'Roboto Slab', serif;
}

ul, ol, menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

header + *{
    margin-top: 95px;
}
/* header */

header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: white;
    z-index: 99;
}

.logo{
    float: left;
    padding: 34px 20px;
}
.nav-list{
    display: flex;
    color: rgba(14,14,14,255);
    gap: 40px;
}

li{
    padding: 5px;
}
li:nth-child(4){
    background-color: rgba(0,97,255,255);
    color: white;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
}


/* main */

.main-section{
    background-color:rgba(180,208,231,255) ;
    margin-bottom: 100px;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-around;
}

.col{
    padding: 5px;
}
.col-40{
    flex-basis: 35%;
}

.col-60{
    flex-basis: 65%;
}

.main-title{
    padding: 5px;
    font-weight: 900;
    font-size: 75px;
    padding-top: 100px;
    margin-bottom: 90px;
}

.paragraph{
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 60px;
}
.main-paragraph{
    margin-bottom: 35px;
    line-height: 1.5;
    font-size: 18px;
}

.btn{
    background-color:rgba(0,97,255,255);
    font-size: 18px;
    padding: 15px;
    border-style: none;
    color: white;
    margin-bottom: 25px;
}

.img-jumbo{
    width: 778px;
    height: 490px;
    position: absolute;
}

.fa-arrow-down{
    font-size: 50px;
}

/* section2 */

.container-small{
    max-width: 1050px;
    margin: 0 auto;
    
}

.col-33{
    flex-basis: 300px;
    border: 1px solid rgba(208,208,211,255);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 20px;
}

.col-100{
    flex-basis: 100%;
}

/* radio buttons */

.container-label {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-right: -10px;
    margin-left: 27px;
}
  
  
  .container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container-label input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-label .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

/* Piani */

.plans-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-left: 27px;
}

.plan-pro-user{
    align-items: center;
}

.p-user{
    align-self: center;
    padding-top: 15px;
}

.p-user::after{
    content:"";
    display: block;
    border-bottom: 1px solid rgba(208,208,211,255);
    position: relative;
    margin-top: 15px;
    width: 100%;
    position: absolute;
    left: 0;
}

.title-plans{
    margin-top: 30px;
    margin-bottom: 25px;
}

.price-plan{
    margin-bottom: 40px;
}

#buy-now{
    color: blue;
    text-decoration: underline;
}

.short-line{
 margin-top: 10px;
}

.short-line::after{
    content: "";
    display: block;
    border-bottom: 2px solid rgba(208,208,211,255);
    width: 50px;
    margin: 35px 0;
}

.list-items-plan li{
    gap: 5px;
    display: flex;
    padding: 10px 0;
}

.fa-solid{
    margin-right: 2px;
    padding-top: 3px;
}

.fa-check{
    color: #2196F3;
}

/* seconda sezione */

.row-section2{
    display: flex;
}

.section-2{
    margin-bottom: 120px;
}

.col-60{
    flex-basis: 60%;
    padding-right: 50px;
    border: 1px solid red;
}

.col-40{
    flex-grow: 1;
    border: 1px solid red;
    padding-right: 60px;
}

.title-main-section-2{
    padding-top: 70px;
    margin-bottom: 22px;
}

.btn-empty{
    margin-top: 35px;
    padding: 15px;
}

/* sezione 3 */

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.col-6{
    /* flex-basis: calc(100%/3); */
    flex-basis: 300px;
    flex-grow: 1;
    padding: 5px;
}

.title-options{
    padding-left: 5px;
}

.title-options-card{
    padding-top: 20px;
    margin-bottom: 40px;
}

/* sezione 4 */

.title-more-info{
    margin-bottom: 60px;
}

.link-piuinfo{
    text-decoration: underline;
    color: blue;
}

/* sezione carosello */

.section-carosello{
    margin-top: 50px;
}

.row-carosello{
    display: flex;
    flex-wrap: wrap;
}

.col-30{
    flex-basis: 0px;
    flex-grow: 1;
    border: 1px solid red;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo-images-box{
    width: calc(100%/4);
    margin: 30px;
    background-color: brown;
}